<a href="https://colab.research.google.com/github/Enriquea017/Valores_nulos/blob/main/Actividad3.1/Actividad3_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Carga de librer√≠as
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
ventas = pd.read_csv('Ventas_totales.csv')

In [ ]:
ventas.columns

Index(['indice_tiempo', 'ventas_precios_corrientes',
       'ventas_precios_constantes', 'ventas_totales_canal_venta',
       'salon_ventas', 'canales_on_line', 'ventas_totales_medio_pago',
       'efectivo', 'tarjetas_debito', 'tarjetas_credito', 'otros_medios',
       'ventas_totales_grupo_articulos', 'subtotal_ventas_alimentos_bebidas',
       'bebidas', 'almacen', 'panaderia', 'lacteos', 'carnes',
       'verduleria_fruteria', 'alimentos_preparados_rotiseria',
       'articulos_limpieza_perfumeria', 'indumentaria_calzado_textiles_hogar',
       'electronicos_articulos_hogar', 'otros'],
      dtype='object')

In [ ]:
ventas.head()

,indice_tiempo,ventas_precios_corrientes,ventas_precios_constantes,ventas_totales_canal_venta,salon_ventas,canales_on_line,ventas_totales_medio_pago,efectivo,tarjetas_debito,tarjetas_credito,...,almacen,panaderia,lacteos,carnes,verduleria_fruteria,alimentos_preparados_rotiseria,articulos_limpieza_perfumeria,indumentaria_calzado_textiles_hogar,electronicos_articulos_hogar,otros
0,01/01/2017,27858.9,27477.3,27858872.08,27591730.13,267141.956,27858872.08,1.023010e+07,6864575.384,9047205.493,...,6705475.318,9.459063e+05,2880656.169,2606192.942,1.050314e+06,340777.3882,4397543.671,772371.8476,1838507.096,2806660.309
1,01/02/2017,25994.2,25223.4,25994200.17,25749179.40,245020.769,25994200.17,9.719067e+06,6438494.011,8309150.301,...,6576624.803,9.256186e+05,2855639.900,2600083.591,1.026167e+06,328288.6951,4053283.771,672290.5165,1257661.903,2354084.901
2,01/03/2017,27780.0,26334.3,27780006.52,27472228.72,307777.804,27780006.52,1.024444e+07,6908522.962,8845010.494,...,7437264.174,1.016148e+06,3188259.169,2824976.726,1.075526e+06,353335.1548,4354197.611,667696.6653,1305674.917,2266189.277
3,01/04/2017,29134.3,27045.9,29134272.22,28827479.49,306792.733,29134272.22,1.031263e+07,7454251.800,9458166.682,...,8211244.093,1.132396e+06,3257140.159,3006158.760,1.037213e+06,359694.4537,4355706.646,838948.2458,1535726.345,2146755.887
4,01/05/2017,27969.0,25631.9,27969004.68,27569311.41,399693.262,27969004.68,1.014761e+07,6735747.319,9220929.862,...,7651058.084,1.033082e+06,3232635.767,2799142.123,9.826512e+05,336568.0085,4206101.605,915895.1498,1824462.036,2117971.483

In [ ]:
ventas1 = ventas.copy()

In [43]:
#Se revisan los valores faltantes
valores_nulos = ventas1.isnull().sum()
valores_nulos

indice_tiempo                          0
ventas_precios_corrientes              0
ventas_precios_constantes              0
ventas_totales_canal_venta             0
salon_ventas                           0
canales_on_line                        0
ventas_totales_medio_pago              0
efectivo                               0
tarjetas_debito                        0
tarjetas_credito                       0
otros_medios                           0
ventas_totales_grupo_articulos         0
subtotal_ventas_alimentos_bebidas      0
bebidas                                0
almacen                                0
panaderia                              0
lacteos                                0
carnes                                 0
verduleria_fruteria                    0
alimentos_preparados_rotiseria         0
articulos_limpieza_perfumeria          0
indumentaria_calzado_textiles_hogar    0
electronicos_articulos_hogar           0
otros                                  0
dtype: int64

# M√©todo de reemplazo (Media)

Para las siguientes columnas, se uso el m√©todo de reemplazo de media.

In [ ]:
ventas1['salon_ventas']=ventas1['salon_ventas'].fillna(round(ventas1['salon_ventas'].mean(),1))

In [ ]:
ventas1['tarjetas_debito']=ventas1['tarjetas_debito'].fillna(round(ventas1['tarjetas_debito'].mean(),1))

In [ ]:
ventas1['tarjetas_credito']=ventas1['tarjetas_credito'].fillna(round(ventas1['tarjetas_credito'].mean(),1))

In [ ]:
ventas1['otros_medios']=ventas1['otros_medios'].fillna(round(ventas1['otros_medios'].mean(),1))

In [ ]:
ventas1['subtotal_ventas_alimentos_bebidas']=ventas1['subtotal_ventas_alimentos_bebidas'].fillna(round(ventas1['subtotal_ventas_alimentos_bebidas'].mean(),1))

In [ ]:
ventas1['bebidas']=ventas1['bebidas'].fillna(round(ventas1['bebidas'].mean(),1))

# M√©todo de reemplazo (Mediana)

Para las siguientes variables se utiliz√≥ la mediana para reemplazar los datos faltantes

In [ ]:
ventas1['almacen'] = ventas1['almacen'].fillna(round(ventas1['almacen'].median(),1))

In [ ]:
ventas1['panaderia'] = ventas1['panaderia'].fillna(round(ventas1['panaderia'].median(),1))

In [ ]:
ventas1['lacteos'] = ventas1['lacteos'].fillna(round(ventas1['lacteos'].median(),1))

In [ ]:
ventas1['carnes'] = ventas1['carnes'].fillna(round(ventas1['carnes'].median(),1))

In [ ]:
ventas1['verduleria_fruteria'] = ventas1['verduleria_fruteria'].fillna(round(ventas1['verduleria_fruteria'].median(),1))

# M√©todo ffill

Para estas variables se us√≥ el m√©todo de forward fill

In [37]:
ventas1['alimentos_preparados_rotiseria']=ventas1['alimentos_preparados_rotiseria'].fillna(method='ffill')

/tmp/ipython-input-1488698394.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  ventas1['alimentos_preparados_rotiseria']=ventas1['alimentos_preparados_rotiseria'].fillna(method='ffill')

In [42]:
ventas1['indumentaria_calzado_textiles_hogar']=ventas1['indumentaria_calzado_textiles_hogar'].bfill()

# M√©todo bfill

Para las √∫ltimas 2 columnas se utiliza el m√©todo backward fill

In [ ]:
ventas1['electronicos_articulos_hogar']=ventas1['electronicos_articulos_hogar'].fillna(method='bfill')

/tmp/ipython-input-4288200226.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  ventas1['electronicos_articulos_hogar']=ventas1['electronicos_articulos_hogar'].fillna(method='bfill')

In [ ]:
ventas1['otros']=ventas1['otros'].fillna(method='bfill')

/tmp/ipython-input-1734873734.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  ventas1['otros']=ventas1['otros'].fillna(method='bfill')

In [ ]:
#Descarga de la base de datos

In [40]:
ventas1.to_csv("Ventas_totales_completo1")